 @import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}



.estilo {
    background-color: rgb(10, 10, 10);
    color: #ffffff;
}


h1 {
    color: red;
    font-size: 28px;
}

#cabecalho {
    margin: auto;
    height: 120px;
    background-color: #371A46;
    position: relative;
    width: 100%;
}

#logo img {
    /* margin-top:25px; */
    height: 120px;
    width: 120px;
    

}

#menu a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #f4316b;
    transition: background-color 1s;
}

#menu ul {
    display: flex;
    justify-content: end;
    padding-top: 47px;
}

#menu ul li {
    padding-left: 150px;
    font-family: inherit;
    font-size: 20px;
    
}

#menu ul li a {
    color: #ffffff;
    height: 24px;
    padding-bottom: 4px;
    
    
    
}

h1 {
    /* background-color: #371A46; */
    color: #F43169;
    font-size: 35px;
    padding-top: 70px;
    /* text-align: right;  */
    margin-left:15%
}

p{
    padding-top:10px ;
}

#principal{
    
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    margin: 0 auto
}

#produtos img{
    border: solid 1px ;
    border-radius: 10%;
    
}

.col {
    padding: 10px;

}

#rodape{

    padding-top: 100px;
    padding-left: 100px;
    background-color: black
    
}

.rodape{
    padding-top: 100px;
    
}

::first-line {
    color: white;
    text-transform: inherit;
}

@media (max-width: 768px) {
    #menu ul {
        
        justify-content: flex-end;
        padding: 0 18px;
    }
}